body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
footer{
    background: #0d3542;
    height: 573px;
    margin-top: -573px;

}
a {
    text-decoration: none;
}
.container {
    height: auto;
    min-height: 100%;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.header {
    height: 200px;
    background: #032f3e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_logo {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}
.main {
    padding:200px 0px 573px;
}
